face-recognition-master/.gradle
face-recognition-master/.idea
face-recognition-master/facerecognition/build
face-recognition-master/facerecognition/build.gradle
face-recognition-master/facerecognition/facerecognition.iml
face-recognition-master/gradle
face-recognition-master/build.gradle
face-recognition-master/face-recognition-master Working after merging AIResponse.iml
face-recognition-master/face-recognition-master.iml
face-recognition-master/gradlew
face-recognition-master/gradlew.bat
face-recognition-master/local.properties
face-recognition-master/settings.gradle
face-recognition-master/openCVLibrary248/build
face-recognition-master/openCVLibrary248/build.gradle
face-recognition-master/openCVLibrary248/openCVLibrary248.iml
